beautifulsoup4
boto
djangorestframework
django-extensions
django-filter
django-guardian
fabric
fabric-virtualenv
fabvenv
fexpect
geojson
markdown
mod_wsgi
nltk
numpy
pillow
psycopg2
python-dateutil
python-magic
python-mimeparse
python-social-auth
pytz
requests
stop-words
titlecase
virtualenv
