beautifulsoup4
boto
django
django-extensions
fabric
fabric-virtualenv
fabvenv
fexpect
geojson
nltk
numpy
pillow
psycopg2
python-dateutil
python-mimeparse
requests
scipy
stop-words
titlecase
virtualenv
