bdates
behave-django
bnlp
bscrp
beautifulsoup4
beryl
boto
Cython
date-extractor
Django==1.9.9
djangorestframework
django-extensions
django-filter
django-guardian
django-sendfile
editdistance
gensim
geojson
html5lib
language-detector
location-extractor
lxml
marionette_client==3.2.0
metadata-extractor
mod_wsgi
nltk
numpy
openpyxl
pandas==0.18.1
Pattern
Pillow
psycopg2
PyPDF2
pyproj
git+git://github.com/GeospatialPython/pyshp
python-dateutil
python-docx
python-magic
pyvirtualdisplay
pytz
requests
scipy
scrp
selenium==2.52.0
social-auth-app-django
stop-words
super_python
tensorflow
titlecase
validators
