<div class="modal fade" id="basemapsModal" tabindex="-1" role="dialog" aria-labelledby="basemapsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Choose a New Basemap</span>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal" aria-label="Close" style="float: right; margin-right: -5px; margin-top: -5px;">Close</button>
            </div>
            <div class="modal-body" style="text-align: center">
                <div class="basemap-card panel panel-default" ng-click="select_basemap(basemap)" ng-repeat="basemap in basemaps track by $index">
                    <!--<div class="panel-heading">Panel Heading</div>-->
                    <div class="panel-body" ng-bind="basemap.name"></div>
                    <!--<div class="panel-footer">Panel Footer</div>-->
                </div><!-- end of card -->
           </div>
           <div class="modal-footer">
               <button type='button' class='btn btn-default btn-md pull-right' data-dismiss="modal" aria-label="Close" style="margin: 10px;">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
