{% block content %}
<div class="modal fade" id="linkWebpageModal" tabindex="-1" role="dialog" aria-labelledby="linkWebpageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="linkWebpageModalLabel">Link One or More Web Pages</h2>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <p>You can add multiple urls, but put each on a separate line!  This will still only request 1 map for everything.</p>
              <textarea class="form-control" rows="5" ng-model="urls_to_webpages"></textarea>
          </div>
          <div class="form-group">
              <div class="btn btn-default btn-xs" ng-click="show_advanced_options = !show_advanced_options">Advanced Options</div>
              <div ng-if="show_advanced_options">
                  <p><b>Countries:</b> Type in the names of the countries that you want to limit the results to below, separating them by a comma.</p>
                  <input type="text" class="form-control" rows="1" ng-model="$parent.countries">
                  <p><b>Admin 1 Codes:</b> Type in the codes of the admin 1 political entities (states in the USA) that you want to limit the results to below, separating them by a comma.</p>
                  <input type="text" class="form-control" rows="1" ng-model="$parent.admin1limits"></div>
              </div>
          </div>
          <div style="text-align: center"><button class='btn btn-lg btn-primary' ng-click="request_map_from_urls_to_webpages()">Generate the Map</button></div>
      </div>
   </div>
  </div>
</div>
{% endblock %}
