{% load staticfiles %}
<!DOCTYPE html>
{% block html %}
<html ng-app="app">
{% endblock %}
{% block head %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>First Draft</title>
{% include "appfd/css.html" %}
<script src="{% static 'js/external/underscore.min.js' %}"></script>
<script src="{% static 'js/external/jquery.min.js' %}"></script>
<script src="{% static 'js/external/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/external/angular.min.js' %}"></script>
<script src="{% static 'js/external/bootstrap.min.js' %}"></script>
<script src="{% static 'js/external/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'js/external/leaflet.min.js' %}"></script>
<script src="{% static 'js/leaflet.SliderControl.min.js' %}"></script>
<script src="{% static 'js/external/Leaflet.fullscreen.min.js' %}"></script>
<script src="{% static 'js/external/angular-sanitize.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/spinner.js' %}"></script>
<script src="{% static 'gis/js/turf.min.js' %}"></script>
<link rel = "icon" type = "image/ico" href="logo.ico"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}" />

<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo.png' %}">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="16x16">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{% static 'img/logo.png' %}">
<meta name="theme-color" content="#ffffff">

{% if csrf_token and csrf_token != '' %}<script>csrf_token = /value='([^']*)/.exec("{% csrf_token %}")[1];</script>{% endif %}

{% block head_extra %}
{% endblock %}
</head>
{% endblock %}
<body ng-controller="MegaController">
{% include "appfd/modals/start.html" %}
{% csrf_token %}
{% include "appfd/header.html" %}
<noscript>
<input type="radio" id="base-noscript-warning">
<div>
Warning! JavaScript is not enabled.
</div>
</noscript>
{% block content %}
{% endblock %}
{% include "appfd/modals/start.html" %}
{% include "appfd/modals/paste.html" %}
{% include "appfd/modals/upload_file.html" %}
{% include "appfd/modals/link_webpage.html" %}
{% include "appfd/modals/link_file.html" %}

{% include "appfd/modals/contact.html" %}
{% include "appfd/modals/disclaimers.html" %}
{% include "appfd/modals/download.html" %}
{% include "appfd/modals/help.html" %}
{% include "appfd/modals/mission.html" %}
{% include "appfd/modals/share.html" %}
{% include "appfd/modals/team.html" %}
{% include "appfd/ga.html" %}
</body>
<script src="{% static 'js/external/ui-grid.min.js' %}"></script>
<script src="{% static 'js/MegaController.js' %}"></script>
</html>
