{% load staticfiles %}
{% block css %}
<link href="{% static 'custom_builds/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/leaflet.fullscreen.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/angular-ui-grid/ui-grid.min.css' %}" rel="stylesheet">
<link rel = "icon" type = "image/ico" href="logo.ico"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/logo.png' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logo.png' %}">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" sizes="16x16">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="{% static 'img/logo.png' %}">
<meta name="theme-color" content="#ffffff">
{% endblock %}
