{% extends "appfd/base.html" %}
{% block content %}
<div class="middle disclaimers">
<h1>Disclaimers</h1>
</br>
<h3>General</h3>
<div class="well">{% include 'appfd/disclaimer.html' %}</div>
</br>
<h3>Google Translate</h3>
<div class="well">THIS SERVICE MAY CONTAIN TRANSLATIONS POWERED BY GOOGLE. GOOGLE DISCLAIMS ALL WARRANTIES RELATED TO THE TRANSLATIONS, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, RELIABILITY, AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.</div>
</div><!-- end .middle -->

{% endblock %} 
