{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="app">


<head>
<link href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'node_modules/leaflet/dist/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'node_modules/angular/angular.min.js' %}"></script>
<script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/angular-ui-bootstrap/ui-bootstrap.min.js' %}"></script>
<script src="{% static 'node_modules/leaflet/dist/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet.SliderControl.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
{% if csrf_token and csrf_token != '' %}<script>csrf_token = /value='([^']*)/.exec("{% csrf_token %}")[1];</script>{% endif %}
</head>

<body>
{% csrf_token %}
<noscript>
    <input type="radio" id="base-noscript-warning">
    <div>You <b>must</b> enable JavaScript.</div>
</noscript>


<div id="map_full" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;"></div>
<script>

    job = '{{job}}';

    map = L.map('map_full');
    map.setView([0,0],2);
    var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors.',
        maxZoom: 18
    }).addTo(map);

    var mainLayerStyle = {
        "color": "#ff0000",
        "weight": .5,
        "opacity": .5,
        "fillOpacity": 0
    };

    function onEachFeature(feature, layer)
    {
        try
        {
            properties = feature.properties;
            console.log("properties are", properties);
            var popup_html = "<div style='max-height: 250px; overflow-y: auto;'>";
            popup_html += "<h3>" + (properties.name || properties.location);
            if (properties.date_pretty) popup_html += " (" + properties.date_pretty + ")";
            popup_html += "</h3>";
            if(properties['confidence']) popup_html += "<b>confidence: </b>" + properties.confidence + "</br>";
            if(properties['admin_level']) popup_html += "<b>admin level: </b>" + properties.admin_level + "</br>";
            if(properties['pcode']) popup_html += "<b>pcode: </b>" + properties.pcode + "</br>";
            if(properties['geonameid']) popup_html += "<b>geonameid: </b>" + properties.geonameid + "</br>";
            if(properties['context']) popup_html += "<p><b>context: </b>" + properties.context + "</p>";
            popup_html += "</div>";
            console.log("popup_html is", popup_html);
            layer.bindPopup(popup_html);
        }
        catch(err)
        {
            console.error("err is", err);
        }
    }

    var mainLayer = L.geoJson(undefined,{onEachFeature:onEachFeature, style:mainLayerStyle});
    var featureGroup = L.featureGroup([mainLayer]);
    featureGroup.addTo(map);
    map.setView([0,0],2);

    $.getJSON('/get_map/'+job+'/geojson', function( data ) {
        mainLayer.addData(data);
        console.log("data", data);
        map.fitBounds(mainLayer.getBounds().pad(0.10))
        if (data.features.length == 1) {
            map.setZoom(5)
        }
    });


</script>
</body>
</html>
