{% load staticfiles %}
{% block header %}
<nav class="navbar navbar-default" role="navigation" style="z-index:999; margin: 0px;">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">
            <span class="hideOnSmallScreen">First Draft:</span>
            <span class="showOnSmallScreen">FD:</span>
            Beta Version
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
             <li><a ng-click="open_modal('start')">Start</a></li>
             <li><a ng-click="open_modal('sources')">Sources</a></li>
             <li><a ng-click="open_modal('metadata')">Metadata</a></li>
             <li><a ng-click="open_modal('download')">Download</a></li>
             <li><a ng-click="open_modal('share')">Share</a></li>
             <li><a ng-click="open_modal('help')">Help</a></li>
             <li><a href="https://app.swaggerhub.com/api/FirstDraftGIS/request_map_from_sources/1.0.0" target="_blank">API</a></li>
             <li><a ng-click="open_modal('uses')">Use Cases</a></li>
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a ng-click="open_modal('contact')">Contact</a></li>
                  <li><a ng-click="open_modal('mission')">Mission</a></li>
                  <li><a ng-click="open_modal('team')">Team</a></li>
               </ul>
            </li>
 
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Legal <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="open_modal('disclaimers')">Disclaimers</a></li>
               </ul>
            </li>
            {% comment %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
             <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Join <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                </ul>
            </li>
            {% endif %}
            {% endcomment %}
            {% if user.is_authenticated %}<li><a href="">Account & Email</a></li>{% endif %}
        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
{% endblock %}
