{% extends "appfd/base.html" %}
{% load staticfiles %}
{% block content %}

<script>job = '{{job}}';</script>

<div ng-controller="MegaController">

<div class="container">

<div id="map-container" class="sub-container">
<div id="map" style="position: absolute; width: 50%;"></div>
</div>

<div id="table-container" class="sub-container">
<div id="grid" class="gridStyle" ui-grid="gridOptions" ui-grid-edit ui-grid-pagination ui-grid-selection></div>
<div>
    <button type='button' class='btn btn-primary btn-md' data-toggle='modal' data-target='#downloadModal' style="margin: 10px;">
        Download
    </button>
    <button type='button' class='btn btn-danger btn-md pull-right' ng-click="delete()" style="margin: 10px;">
        Delete
        </button>
</div>
</div>

</div>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadModalLabel">In what format would you like to download it?</h4>
      </div>
      <div class="modal-body">
          <div><a id='download_link_csv' target='_blank'>CSV</a></div>
          <div><a id='download_link_geojson' target='_blank'>GeoJSON</a></div>
          <div><a id='download_link_shp' target='_blank'>Shapefile</a></div>
      </div>
   </div>
  </div>
</div>


</div>

{% endblock %}
