{% extends "appfd/base.html" %}
{% load staticfiles %}
{% block content %}
<div ng-controller="MegaController">
<div id="map" style="position: absolute; width: 50%;"></div>
<div class="gridStyle" ui-grid="gridOptions" ui-grid-edit ui-grid-pagination ui-grid-selection></div>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadModalLabel">In what format would you like to download it?</h4>
      </div>
      <div class="modal-body">
          <div><a id='download_link_csv' target='_blank'>CSV</a></div>
          <div><a id='download_link_geojson' target='_blank'>GeoJSON</a></div>
          <div><a id='download_link_shp' target='_blank'>Shapefile</a></div>
      </div>
   </div>
  </div>
</div>
</div>
<script>job = '{{job}}';</script>
{% endblock %}
{% block footer %}
{% endblock %}
