{% extends "appfd/base.html" %}
{% block content %}
<div class="middle">
<h1>Team Members</h1>
</br>
{% for member in team_members %}
<div class="card team">
<img src="{{member.pic.url}}"></img>
<div class="right">
    <div class="name">{{member.name}}</div>
    <h5>{{member.position}}</h5>
    <div class="line"></div>
    <div class="contact">
        {% if member.email %}<a href="mailto:{{member.email}}">Email</a>{% endif %}
        {% if member.twitter %}<a href="http://twitter.com/{{member.twitter}}">@{{member.twitter}}</a>{% endif %}
    </div>
</div>
</div>
{% endfor %}

</div><!-- end .middle -->

{% endblock %} 
