<div ng-controller="UploadController">
<h3><b>How would you like start?</b></h3>

<div class="radio">
  <label>
    <input type="radio" name="start_options" value="paste" ng-model="start" ng-click="focusOnTextArea()">
    Paste something you copied
  </label>
</div>
<div class="form-group" ng-show="start === 'paste'">
    <textarea class="form-control" rows="5" id="story" ng-model="story"></textarea>
</div>

<div class="radio">
  <label>
    <input type="radio" name="start_options" value="upload" ng-model="start">
    Upload a file
  </label>
</div>
<div class="form-group" ng-show="start === 'upload'">
  <input type="file" id="uploadFile" ng-model="uploadFile" file-model="upload_file">
</div>


<div class="radio">
  <label>
    <input type="radio" name="start_options" value="url_to_webpage" ng-model="start" ng-click="focusOnUrlToWebpageInput()">
    Link to a WebPage
  </label>
</div>
<div class="form-group" ng-show="start === 'url_to_webpage'">
    <input type="text" class="form-control" id="url_to_webpage" ng-model="url_to_webpage" ng-enter="upload()">
</div>


<div class="radio">
  <label>
    <input type="radio" name="start_options" value="url_to_file" ng-model="start" ng-click="focusOnUrlToFileInput()">
    Link to a file on a website
  </label>
</div>
<div class="form-group" ng-show="start === 'url_to_file'">
    <input type="text" class="form-control" id="url_to_file" ng-model="url_to_file" ng-enter="upload()">
</div>




<div class="form-group">
    <button type="button" class="btn btn-primary" ng-click="upload()">Next</button>
</div>
</div>
