{% extends "appfd/base.html" %}
{% load staticfiles %}
{% block content %}
<div id="map_full" style="position: absolute; top: 50px; left: 0; right: 0; bottom: 0;"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">In what format would you like to download it?</h4>
      </div>
      <div class="modal-body">
          <div><a id='download_link_csv' target='_blank'>CSV</a></div>
          <div><a id='download_link_geojson' target='_blank'>GeoJSON</a></div>
          <div><a id='download_link_shp' target='_blank' style="display:none">Shapefile</a></div>
      </div>
   </div>
  </div>
</div>
<script>

    job = '{{job}}';
    document.getElementById('download_link_csv').href = '/get_map/' + job + '/csv';
    document.getElementById('download_link_geojson').href = '/get_map/' + job + '/geojson';
    document.getElementById('download_link_shp').href = '/get_map/' + job + '/zip';

    map = L.map('map_full');
    map.setView([0,0],2);
    var osmLayer = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors.',
        maxZoom: 18
    }).addTo(map);

    var downloadBox = L.Control.extend({
        "options": {
            "position": "topright",
        },
        "onAdd": function(map) {
            console.log("starting onAdd with", map);
            var downloadButtonControl = L.DomUtil.create("div", "leaflet-bar leaflet-control leaflet-control-custom");
            downloadButtonControl.style.boxShadow = 'none';
            downloadButtonControl.innerHTML = "<div style='padding: 5px'><button type='button' class='btn btn-primary btn-md' data-toggle='modal' data-target='#myModal'>Download</button></div>";
            return downloadButtonControl
        }
    });

    map.addControl(new downloadBox());

    var mainLayerStyle = {
        "color": "#ff0000",
        "weight": .5,
        "opacity": .5,
        "fillOpacity": 0
    };

    function onEachFeature(feature, layer)
    {
        try
        {
            properties = feature.properties;
            console.log("properties are", properties);
            var popup_html = "<div style='max-height: 250px; overflow-y: auto;'>";
            popup_html += "<h3>" + (properties.name || properties.location);
            if (properties.date_pretty) popup_html += " (" + properties.date_pretty + ")";
            popup_html += "</h3>";
            if(properties['confidence']) popup_html += "<b>confidence: </b>" + properties.confidence + "</br>";
            if(properties['admin_level']) popup_html += "<b>admin level: </b>" + properties.admin_level + "</br>";
            if(properties['pcode']) popup_html += "<b>pcode: </b>" + properties.pcode + "</br>";
            if(properties['geonameid']) popup_html += "<b>geonameid: </b>" + properties.geonameid + "</br>";
            if(properties['context']) popup_html += "<p><b>context: </b>" + properties.context + "</p>";
            popup_html += "</div>";
            console.log("popup_html is", popup_html);
            layer.bindPopup(popup_html);
        }
        catch(err) { console.error("err is", err); }
    }

    var mainLayer = L.geoJson(undefined,{onEachFeature:onEachFeature, style:mainLayerStyle});
    var featureGroup = L.featureGroup([mainLayer]);
    featureGroup.addTo(map);
    map.setView([0,0],2);

    $.getJSON('/get_map/'+job+'/geojson', function( data ) {mainLayer.addData(data);});


</script>
{% endblock %}
