{% block content %}
{% verbatim %}
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="addModalLabel">Add a Place</h2>
      </div>
      <div class="modal-body">
          <!--<p><b>What place would you like to add?</b></p>-->
          <!--<label for="place-name-to-add">Name of Place</label>-->
          <input
              class="form-control"
              id="place-name-to-add"
              ng-model="name_of_place_to_add"
              placeholder="Name of Place"
              type="text"
              typeahead-min-length=3
              typeahead-select-on-exact
              typeahead-focus-on-select='false'
              typeahead-on-select="updateAddOptions($item, $model, $label, $event)"
              typeahead-template-url="static/custom_builds/ui-bootstrap/typeahead-match.html"
              typeahead-popup-template-url="static/custom_builds/ui-bootstrap/typeahead-popup.html"
              uib-typeahead='option for option in getTypeAheadOptions($viewValue)'
          >
          <div
              active="activeSlide"
              class="add-carousel"
              no-wrap="true"
              template-url="static/custom_builds/ui-bootstrap/carousel.html"
              uib-carousel
          >
              <div uib-slide ng-repeat="group in groups track by $index" index="$index" template-url="static/custom_builds/ui-bootstrap/slide.html">
                  <div class="add-carousel-option" ng-repeat="option in group">
                      <div id="mini-map-{{option.id}}" class="mini-map" ng-after-render="create_mini_map(option)"></div>
                      <div class="">
                          <p>Country Code: {{option.country_code}}</p>
                          <p>Longitude: {{option.point.coordinates[0]}}</p>
                          <p>Latitude: {{option.point.coordinates[1]}}</p>
                          <p>Population: {{option.population ? Number(option.population).toLocaleString() : "Unknown"}}
                          <p>Type: {{option.feature_type ? option.feature_type : "Unknown"}}
                      </div>
                  </div>
              </div>
          </div>
          <div>
              <button type='button' class='btn btn-warning btn-md' data-toggle='modal' ng-click="fixLocationUsingTheMap(selection)" style="margin: 10px;">
                  Add It
              </button>
              <button type='button' class='btn btn-default btn-md pull-right' ng-click="displayEditModal()" style="margin: 10px;">
                  Cancel
              </button>
          </div>
         </table></tbody>
      </div>
   </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}
