<div class="modal fade" id="disclaimersModal" tabindex="-1" role="dialog" aria-labelledby="disclaimersModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="disclaimersModalLabel">Disclaimers</h2>
      </div>
      <div class="modal-body">
          <h3>General</h3>
          <div class="well">This website creates maps automatically using an advanced computer algorithm.  Errors naturally result and these initial results are only meant to be used as first drafts and not final products.

This website trains its geo-entity resolution model using the data that you provide this website.  We will release another separate geo-entity resolution model, as a starter for people who want to set up their own First Draft GIS servers, but it will only be trained on data that users have explicitly marked as open source.</div>
          </br>
          <h3>Google Translate</h3>
          <div class="well">THIS SERVICE MAY CONTAIN TRANSLATIONS POWERED BY GOOGLE. GOOGLE DISCLAIMS ALL WARRANTIES RELATED TO THE TRANSLATIONS, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF ACCURACY, RELIABILITY, AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.</div>
      </div>
   </div>
  </div>
</div>
