<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="downloadModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="downloadModalLabel">Download</h4>
      </div>
      <div class="modal-body">
          <div ng-hide="ready_to_download_csv||ready_to_download_geojson||ready_to_download_gif||ready_to_download_jpg||ready_to_download_png||ready_to_download_shapefile">
              <p>You've reached the right spot to download your map, but you haven't created or loaded a map yet!  Once you have, come back here and download it as a CSV, GeoJSON or Shapefile.</p>
          </div>
          <div ng-show="ready_to_download_csv||ready_to_download_geojson||ready_to_download_gif||ready_to_download_jpg||ready_to_download_png||ready_to_download_shapefile">
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_csv">Generating CSV...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_csv">
                      <a class="btn btn-primary" id='download_link_csv' ng-href="{{download_link_csv}}" target='_blank'>CSV</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_geojson">Generating GeoJSON...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_geojson">
                      <a class="btn btn-primary" id='download_link_geojson' ng-href="{{download_link_geojson}}" target='_blank'>GeoJSON</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_gif">Generating GIF...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_gif">
                      <a class="btn btn-primary" id='download_link_gif' ng-href="{{download_link_gif}}" target='_blank'>GIF</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_jpg">Generating JPG...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_jpg">
                      <a class="btn btn-primary" id='download_link_jpg' ng-href="{{download_link_jpg}}" target='_blank'>JPG</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_pdf">Generating PDF...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_pdf">
                      <a class="btn btn-primary" id='download_link_pdf' ng-href="{{download_link_pdf}}" target='_blank'>PDF</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_png">Generating PNG...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_png">
                      <a class="btn btn-primary" id='download_link_png' ng-href="{{download_link_png}}" target='_blank'>PNG</a>
                  </div>
              </div>
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_shp">Generating Shapefile...</span>
                  <div ng-click="verify_map()" ng-show="ready_to_download_shp">
                      <a class="btn btn-primary" id='download_link_shp' ng-href="{{download_link_shp}}" target='_blank'>Shapefile</a>
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
