<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel" ng-model="selection.name" contenteditable>Name Here</h4>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="modal-body">

                <div>
                    <b>Confidence:</b>&nbsp;<span ng-bind="selection.confidence"></span>
                </div>

                <div>
                    <b>Country Code:</b>&nbsp;<span ng-model="selection.country_code" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span></span>
                </div>

                <div>
                    <b>End Time:</b>&nbsp;<span ng-model="selection.end_time" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </div>

                <div>
                    <b>Geoname Id:</b>&nbsp;<span ng-model="selection.geonameid" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </div>

                <div>
                    <b>Latitude:</b>&nbsp;<span ng-model="selection.latitude" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </div>

                <div>
                    <b>Longitude:</b>&nbsp;<span ng-model="selection.longitude" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </div>

                <div>
                    <b>Start Time:</b>&nbsp;<span ng-model="selection.start_time" contenteditable></span>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                </div>

                <div>
                    <b>Quote:</b>&nbsp;<span class="glyphicon glyphicon-pencil"></span>
                    <div class="well" ng-model="selection.text" contenteditable></div>
                </div>

                <div>
                    <button type='button' class='btn btn-warning btn-md' data-toggle='modal' ng-click="undo()" style="margin: 10px;">
                        Undo
                    </button>
                    <button type='button' class='btn btn-danger btn-md pull-right' ng-click="deleteSelection()" style="margin: 10px;">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // makes it so when you click the pencil to the left of a content editable span/h5 then it focuses on the editable
    _.toArray(document.querySelectorAll("#editModal .glyphicon-pencil")).forEach(function(element) {
        element.addEventListener('click', function(event) { 
            event.target.parentElement.querySelector("[contenteditable]").focus();
        });
    });
</script>
