{% block content %}
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="helpModalLabel">Help</h2>
      </div>
      <div class="modal-body">If you need any help day or night, don't hesitate to contact us.  You can send an email to the project founder Daniel Dufour at <a href="mailto:daniel@firstdraftgis.com">daniel@firstdraftgis.com</a> or call him at 1-619-928-4540.
      </div>
   </div>
  </div>
</div>
{% endblock %}
