{% block content %}
<div class="modal fade" id="linkFileModal" tabindex="-1" role="dialog" aria-labelledby="linkFileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="linkFileModalLabel">Link to One or More Files</h2>
      </div>
      <div class="modal-body">
          <div class="form-group">
              <p>You can add multiple urls, but put each on a separate line!  This will still only generate 1 map for everything.</p>
              <textarea class="form-control" rows="5" ng-model="urls_to_files"></textarea>
          </div>
          <div style="text-align: center"><button class='btn btn-lg btn-primary' ng-click="request_map_from_urls_to_files()">Generate the Map</button></div>
      </div>
   </div>
  </div>
</div>
{% endblock %}
