<div class="modal fade" id="metadataModal" tabindex="-1" role="dialog" aria-labelledby="metadataModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="metadataModalLabel">Metadata</h4>
      </div>
      <div class="modal-body">
          <div ng-hide="ready_to_download_metadata_iso_19115_2">
              <p>You've reached the right spot to download metadata your map, but you haven't created or loaded a map yet!  Once you have, come back here and metadata it as a "ISO 19115-2".</p>
          </div>
          <div ng-show="ready_to_download_metadata_iso_19115_2">
              <div style="display: inline-block">
                  <span ng-hide="ready_to_download_metadata_iso_19115_2">Generating ISO 19115-2...</span>
                  <a class="btn btn-primary" ng-show="ready_to_download_metadata_iso_19115_2" id='download_metadata_link_iso_19115_2' target='_blank'>ISO 19115-2</a>
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
