<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Settings</span>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal" aria-label="Close" style="float: right; margin-right: -5px; margin-top: -5px;">Close</button>
            </div>
            <div class="modal-body" style="text-align: center">
                <h3>Advanced Features</h3>
                <hr>
                <p style="text-align: left"><i>These are advanced features that not all users will need to use, which is why we hide them at first.  Turn them on and they will instantly appear on your map.</i></p>
                <div style="text-align: left">
                    <table class="settings"><tbody>
                        <tr>
                            <td><b>Change Basemap</b></td>
                            <td><toggle ng-model="settings.basemaps" ng-change="update_settings()"></toggle></td>
                        </tr>
                        <tr>
                            <td><b>Fullscreen Button</b></td>
                            <td><toggle ng-model="settings.fullscreen" ng-change="update_settings()"></toggle></td>
                        </tr>
                        <tr>
                            <td><b>Contribute to Open Source Training Data</b></td>
                            <td><toggle ng-model="settings.open_source_training_data" ng-change="update_settings()"></toggle></td>
                        </tr>
                    </tbody></table>
                </div>
                </br> 
                </br> 
                </br> 
                <h3>Experimental Features</h3>
                <hr>
                <p style="text-align: left"><i>These are experimental features.  They are cutting edge and not guaranteed to work.</i></p>
                <div style="text-align: left">
                    <table class="settings"><tbody>
                        <tr>
                            <td><b>Add New Place</b></td>
                            <td><toggle ng-model="settings.add" ng-change="update_settings()"></toggle></td>
                        </tr>
                        <tr>
                            <td><b>Voice Controls</b></td>
                            <td><toggle ng-model="settings.voice" ng-change="update_settings()"></toggle></td>
                        </tr>
                    </tbody></table>
                </div>
            </div>
            <div class="modal-footer">
               <button type='button' class='btn btn-default btn-md pull-right' data-dismiss="modal" aria-label="Close" style="margin: 10px;">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
