{% block content %}
{% verbatim %}
<div class="modal fade" id="sourcesModal" tabindex="-1" role="dialog" aria-labelledby="sourcesModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h2 class="modal-title" id="sourcesModalLabel">Data Sources</h2>
            </div>
            <div class="modal-body">
                <p ng-if="sources && sources.length > 0">Here are the data sources that First Draft GIS will use to make your map.</p>

                <table class="table">
                    <tbody>
                        <tr ng-repeat="source in sources track by $index">
                            <td style="width: 25px">
                                <span ng-class="'glyphicon ' + getClassForTypeOfSource(source.type)"></span>
                            </td>
                            <td style="word-break: break-word;">
                                <a ng-href="{{source.link}}" ng-if="source.type==='link'" ng-bind="source.data"></a>
                                <textarea type="text" ng-if="source.type==='text'" ng-bind="source.data" style="max-size: 200px; resize: vertical; width: 100%"></textarea>
                                <span ng-if="source.type==='file'" ng-bind="source.name"><span>
                            </td>
                            <td style="width: 25px">
                                <span class="glyphicon glyphicon-remove" style="color: red; cursor: pointer;" ng-click="sources.splice($index, 1)"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>

                </br>
                <p>How would you like to <b>add</b> a new data source?</p>
                <table class="table"><tbody>
                    <tr>
                        <td ng-click="close_all_modals_and_open('paste')" style="width: 33%">
                            <div class="btn btn-primary btn-md" style="width: 100%;">
                                <p class="glyphicon glyphicon-paste"></p>
                                <p>Enter Text</p>
                            </div>
                        </td>
                        <td ng-click="close_all_modals_and_open('upload')" style="width: 33%">
                            <div class="btn btn-primary btn-md" style="width: 100%">
                                <p class="glyphicon glyphicon-upload"></p>
                                <p>Upload File</p>
                            </div>
                        </td>
                        <td ng-click="close_all_modals_and_open('link')" style="width: 33%">
                            <div class="btn btn-primary btn-md" style="width: 100%">
                                <p class="glyphicon glyphicon-link"></p>
                                <p>Link</p>
                            </div>
                        </td>
                    </tr>
                </tbody></table>

                </br>

                <div style="text-align: center;">
                    <div ng-class="'btn btn-lg btn-success' + (!sources || sources.length === 0 ? ' disabled' : '')" ng-click="generate()">Generate Map</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock %}
