{% block content %}
<div class="modal fade" id="uploadFileModal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="uploadFileModalLabel">Upload a File</h2>
      </div>
      <div class="modal-body" style="text-align: center;">
          <div class="form-group">
              <div class="form-group">
                  <input type="file" file-model="start_file">
              </div>
          </div>
          <div class="form-group">
              <div class="btn btn-default btn-xs" ng-click="show_advanced_options = !show_advanced_options">Advanced Options</div>
              <div ng-if="show_advanced_options">
                  <p>Type in the names of the countries that you want to limit the results to below, separating them by a comma.</p>
                  <textarea class="form-control" rows="1" ng-model="$parent.countries"></textarea>
              </div>
          </div>
          <div style="text-align: center"><button class='btn btn-lg btn-primary' ng-click="request_map_from_file()">Generate the Map</button></div>
      </div>
   </div>
  </div>
</div>
{% endblock %}
