h1{color: rgb(0,0,0);}
h2{color: rgb(20,20,20);}
h3{color: rgb(40,40,40);}
h4{color: rgb(60,60,60);}
h5{color: rgb(80,80,80);}
.t6{color: rgb(100,100,100); font-size: 11pt;}
.t7{color: rgb(120,120,120); font-size: 10pt;}

.well{white-space: pre-wrap !important;}

.spin{
     -webkit-animation: spin 1s infinite linear;
     -moz-animation: spin 1s infinite linear;
     -o-animation: spin 1s infinite linear;
     animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

[ng-controller='DeckController'] input {margin: 5px;}

.btn-margin{margin: 2px;}
.btn-margin-left-right{margin-left:2px;margin-right:2px;}

.navbar-brand > span {color: purple;}
.navbar-brand:hover > span { color: #845D84;}

[ng-controller] {position: relative;}

.textbox {height: 100%;}
.textwrapper {height: 100%; position: relative;}
.readmore {position: absolute; right: 0; bottom: 0; background-color: lightgrey; border-top-left-radius: 10px; padding-right: 20px; padding-left: 10px;}
.popup,.resize {}
.popup:hover, .resize:hover{cursor:pointer; color: green;}

footer{padding: 15px;}

.showOnSmallScreen{display: none;}
.hideOnSmallScreen{display: auto;}
@media (max-width: 600px){
    .showOnSmallScreen{display: block;}
    span.showOnSmallScreen{display: inline;}
    .hideOnSmallScreen{display: none;}
}


.textwrawpper{height: 100%;}
.textholder{padding: 5px;}

.login-buttons a .btn {margin: 5px; padding: 5px; width: 125px;}

.minimize .onMinMax{display: none;}
.maximize .onMinMax{display: block; -webkit-animation: fadein 2s; -moz-animation: fadein 2s; -ms-animation: fadein 2s; -o-animation: fadein 2s; animation: fadein 2s;}
.maximize a.onMinMax{display: inline-block;}
.minimize .onMinMaxText{overflow-y: scroll; max-height: 100px;}
.maxmize .onMinMaxText{overflow: auto; max-height: auto;}


.card.team{max-width: 300px; display: inline-block; height: 100px;background-color: rgb(231,207,245);}
.card.team img{width: 50px; height: 100px; display: inline-block; position: absolute; left: 0; top: 0;}
.card.team .right{display: inline-block; width: 200px; margin-left: 50px;}
.card.team .right .name{color: rgb(0,0,0); font-weight: bold;}
.card.team .right .contact a {font-size: 10pt;}
.jumbotron{font-size: 10pt;}
footer{text-align: center;}
.middle{padding: 30px; max-width: 900px;}

.card{position: relative; display: inline-block; width: 100%; vertical-align: top; box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24); padding: 15px; font-size: 14pt; margin: 2px;}
.card.pink{background-color: rgb(255,189,200);}
.card.border-black{border: 1px solid black;}
.card.border-grey{border: 1px solid rgb(128,116,116);}

.highlight{background-color: #ff0;}

.translationLoaderWrapper{padding: 5px;}
.translationLoader {
  margin: 4em auto;
  font-size: 12px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -1em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  color: rgb(10, 10, 20);
}



.loaderWrapper{padding: 45px;}
.loader2 {
  margin: 4em auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -1em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  color: rgb(10, 10, 20);
}

.loader {
  margin: 4em auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgb(45, 161, 144), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.5), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.7), 1.8em -1.8em 0 0em rgb(45, 161, 144), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.5), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.7), 2.5em 0em 0 0em rgb(45, 161, 144), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.5), 2.5em 0em 0 0em rgba(45, 161, 144, 0.7), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.5), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.7), 0em 2.5em 0 0em rgb(45, 161, 144), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.5), 0em 2.5em 0 0em rgba(45, 161, 144, 0.7), -1.8em 1.8em 0 0em rgb(45, 161, 144), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.5), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.7), -2.6em 0em 0 0em rgb(45, 161, 144), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.5), -2.6em 0em 0 0em rgba(45, 161, 144, 0.7), -1.8em -1.8em 0 0em rgb(45, 161, 144);
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgb(45, 161, 144), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.5), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.7), 1.8em -1.8em 0 0em rgb(45, 161, 144), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.5), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.7), 2.5em 0em 0 0em rgb(45, 161, 144), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.5), 2.5em 0em 0 0em rgba(45, 161, 144, 0.7), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.5), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.7), 0em 2.5em 0 0em rgb(45, 161, 144), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.2), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.5), 0em 2.5em 0 0em rgba(45, 161, 144, 0.7), -1.8em 1.8em 0 0em rgb(45, 161, 144), -2.6em 0em 0 0em rgba(45, 161, 144, 0.2), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.5), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.7), -2.6em 0em 0 0em rgb(45, 161, 144), -1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(45, 161, 144, 0.2), 1.8em -1.8em 0 0em rgba(45, 161, 144, 0.2), 2.5em 0em 0 0em rgba(45, 161, 144, 0.2), 1.75em 1.75em 0 0em rgba(45, 161, 144, 0.2), 0em 2.5em 0 0em rgba(45, 161, 144, 0.2), -1.8em 1.8em 0 0em rgba(45, 161, 144, 0.5), -2.6em 0em 0 0em rgba(45, 161, 144, 0.7), -1.8em -1.8em 0 0em rgb(45, 161, 144);
  }
}

.loaderText{width: 100%; color: whitesmoke; text-align: center; font-size: 48pt;}

.overlay {position: absolute; height: 100%; width: 100%; top: 0px; z-index: -9999999; display: none; background-color: rgba(40, 48, 55, 0.7);}

.overlay {
    -webkit-animation: fadein 1s;
       -moz-animation: fadein 1s;
        -ms-animation: fadein 1s;
         -o-animation: fadein 1s;
            animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.loader3
{
    position: relative;
    width: 100px;
    margin: 0 auto;
}
.loader3::after
{
    content: '';
    border-radius: 2px;
    animation: pong 1s infinite ease-in-out;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 4px;
    height: 4px;
}      

@keyframes pong
{
  25%
  {
    width: 50%
  }
  50%
  {
    width: 0;
    left: auto;
    right: 0;
  }
  75%
  {
    width: 50%;
  }
  100%
  {
    width: 0;
    right: auto;
    left: 0;
  }
}  

.google-translate-attribution {text-align: right;}
.middle.disclaimers{margin: 0 auto; max-width: 700px;}
/*#map, #map *, #map::before, #map::after {box-sizing: content-box; color: black;}*/
#map { height: 400px; max-width: 900px; width: 100%;}
