This website creates maps automatically using an advanced computer algorithm.  Errors naturally result and these initial results are only meant to be used as first drafts and not final products.

This website trains its geo-entity resolution model using the data that you provide this website.  We will release another separate geo-entity resolution model, as a starter for people who want to set up their own First Draft GIS servers, but it will only be trained on data that users have explicitly marked as open source.
